{
  "env": {
    "development": {
      "ignore": [
        "**/*.test.js"
      ]
    }
  },
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "stage-0"
  ]
}
